{% block sw_cms_element_googleMapsElement %}
    <div>
         {% if imageUrl != '' %}
                             <img alt="Map"
                                 :src="imageUrl">
                         {% else %}
                             <h2>No URL given</h2>
                         {% endif %}
    </div>
{% endblock %}